a {
  text-decoration: none;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
body {
  background-color: #081129;
}
.fr {
  float: right;
}
.ph {
  position: relative;
  text-align: center;
  width: 350px;
  margin: 0 auto;
}
p {
  position: absolute;
  text-align: left;
  color: #ff552e;
  font-size: 12px;
  margin: 0;
  top: 50px;
}
.con {
  display: none;
}
.active {
  display: none;
}
.empty {
  display: none;
}
.stage {
  width: 476px;
  height: 528px;
  margin: 0 auto;
  text-align: center;
}
.stage .head li {
  overflow: hidden;
  margin: 28px 0 10px 0;
}
.stage .head li a {
  color: #f6f6f6;
  font-size: 12px;
}
.stage .verify {
  background-color: #ffffff;
  padding: 50px 0 30px 0;
  text-align: center;
}
.stage .verify .cdr {
  text-align: center;
  margin-bottom: 30px;
}
.stage .verify .cdr img {
  width: 105px;
  height: 35px;
}
.stage .verify form .mobile {
  text-align: center;
}
.stage .verify form .mobile input {
  width: 346px;
  height: 38px;
  border: 2px solid #ebebeb;
  margin-bottom: 30px;
  text-indent: 14px;
}
.stage .verify form .mobile input:last-child {
  margin-bottom: 0;
}
.stage .verify form .mobile span {
  position: absolute;
  top: 8px;
  right: 7px;
  height: 26px;
  color: #999;
  font-size: 12px;
  line-height: 26px;
  background: #eee;
  border-radius: 2px;
  padding: 0 10px;
  cursor: pointer;
}
.stage .verify .protocol {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #999;
}
.stage .verify .protocol a {
  color: #ff553e;
  text-decoration: none;
}
.stage .verify .login button {
  width: 350px;
  height: 44px;
  font-size: 14px;
  color: white;
  background: #ff552e;
  outline: none;
  border: none;
  cursor: pointer;
}
.stage .foot {
  margin-top: 30px;
  font-size: 12px;
}
.stage .foot a {
  color: #f6f6f6;
  padding: 0 40px 0 40px;
}
