.fl {
  float: left;
}
.fr {
  float: right;
}
.stage {
  padding: 30px 0;
  position: relative;
}
.stage .header {
  margin-bottom: 20px;
}
.stage .nav {
  width: 80px;
  height: 4px;
  background: orange;
  position: absolute;
  right: 688px;
  top: 0;
}
.stage .menu {
  text-align: center;
  line-height: 60px;
}
.stage .menu ul li {
  float: left;
  margin-right: 34px;
  cursor: pointer;
  color: #666;
}
.stage .menu ul li:first-child {
  color: orange;
}
.stage .introduce {
  padding-top: 60px;
}
.stage .introduce .text-description {
  padding-right: 0 !important;
}
.stage .introduce .text-description h5 {
  font-size: 20px;
  color: #923AA4;
  line-height: 20px;
  padding-bottom: 20px;
}
.stage .introduce .text-description p {
  font-size: 14px;
  color: #666;
  line-height: 22px;
}
.stage .introduce .text-description .btn {
  width: 122px;
  height: 38px;
  border: 1px solid #dcdcdc;
  line-height: 26px;
  text-align: center;
  color: #999999;
  font-size: 14px;
  margin-top: 54px;
  border-radius: 0 !important;
}
.stage .introduce .text-description .btn:hover {
  background: #eb5f2a;
}
.stage .introduce .text-description .btn:hover a {
  color: white;
}
.stage .introduce .text-description .btn a {
  text-decoration: none;
  color: #666;
}
.stage .Custom-made-lights {
  margin: 40px 0;
}
.stage .new {
  background-color: #f7f7f7;
}
.stage .new .title {
  margin-bottom: 60px !important;
  width: 295px;
  margin: 0 auto;
  line-height: 70px;
  color: #666;
  font-size: 40px;
  text-align: center;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.stage .new .content {
  margin-bottom: 100px;
}
.stage .new .content .child img {
  width: 100%;
}
.stage .new .content .child .p1 {
  line-height: 30px;
  padding-top: 40px;
  color: #666;
  font-size: 24px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stage .new .content .child .p2 {
  color: #878787;
  font-size: 14px;
  line-height: 22px;
}
.stage .product {
  padding: 0 !important;
}
.stage .product div > div {
  margin-bottom: 20px;
}
.stage .contact {
  background-color: #717373;
  margin: 0 !important;
}
.stage .contact div {
  padding-bottom: 20px;
}
.stage .contact div:first-child {
  padding-left: 60px;
}
.stage .contact img {
  margin-top: 40px;
}
.stage .contact p {
  color: #dadada;
  font-size: 16px;
  padding-top: 40px;
}
.stage .foot {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #474747;
  font-size: 12px;
  color: #b7b7b7;
}
@media screen and (max-width: 992px) {
  .stage .header .menu {
    display: none;
  }
  .stage .header .wap-img {
    display: block !important;
    float: right;
  }
  .stage .header .nav {
    display: none;
  }
}
